body{
    background-color: #E0E0E0;;
}

.icon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}
.img{
    height: 25px;
    width: 25px;
    padding-top: 13px;
    padding-left: 3px;
}
a{
    padding: 10px;
}
.navclass{
    float: right;
}
.CS{
    display: inline-block;
}
.cross,.bell{
    display: inline-block;
}
.inline-block{
    display: inline-block;
}