*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-white: white;
    --bg-grey:rgb(163, 161, 161);
    --grey-98:#F7F8FA;
    --text-grey-50:#4D5E80;
    --text-grey-70:#7D8FB3;
    --text-grey-60:#6B7A99;
    --text-grey-80:#ADB8CC;
    --grey-20:#1A2233;
    --grey-30:#26334D;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--grey-98);
}
.wrapper{
    height: 100%;
}
.dashboardheader{
    /* width: 100%;
    height: 90px; */
    padding: 20px 25px;
    border-bottom: 2px solid #EDEFF2;
}
.title{
    margin-left: 35px;
    margin-right: 54px;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-grey-50);
}
.link{
    padding-left: 15px;
}
.navlink{
    list-style-type: none;
}
.linkitems{
    text-decoration: none;
    color: var(--text-grey-70);
}
.username{
    margin-left: 20px;
    color: var(--text-grey-60);
}
.btn-bell{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bg-white);
    border: none;
    position: relative;
}
.status{
    position: absolute;
    top: 0;
    left: 30px;
}
.btn-round-icon,.btn-bankacc{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bg-white);
    border: none;
}
.main-content{
    padding: 30px;
}
.price{
    color: var(--text-grey-50);
    font-weight: 700;
    font-size: 24px;
}
.bank-details{
    color: var(--text-grey-80);
    font-weight: 700;
    font-size: 12px;
}
.cardone{
    background-color: var(--grey-20);
    color: var(--bg-white);
    padding: 40px;
}
.btn-next{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--grey-30);
    border: none;
}
/* Margins */
.ms-15{
    margin-left: 15px;
}
.mt-5{
    margin-top: 5px;
}
/* Helper Classes */
.d-flex{
    display: flex;
}
.column-flex{
    flex-direction: column;
}
.justifyc-center{
    justify-content: center;
}
.justifyc-space{
    justify-content: space-between;
}
.aligni-center{
    align-items: center;
}
/*END: Helper Classes */
